:root {
  --background-color: #f2eae2;
  --primary-color: #3d8168;
  --hvr-primary-color: #1a4032;

  --primary-font-color: #1c232b;
  --secondary-font-color: #6c7289;

  --color-white: #fff;
}
